VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/XXXX/exec
# Copia este archivo a .env y pega tu URL real:
# VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby9vtsnK1VsaLlktfB4F8o7uz3Qpo5bkq-JlSXtAZW-WgCLQbZOo-9rBROydRu_xw/exec
